/* AP search view */
.ap-search {
	margin-top: 20px;
	margin-bottom: 20px;
}
.top-buffer {
	min-height: 550px;
}
.top-buffer table.table-bordered .ledger th{
	text-align: center;
}

table.invoice-table tr, td {
    text-align: center;
}

table.invoice-table{
	margin-bottom: 0px;
}

.button-selected {
	background: #337ab7;
	color: #fff;
	border-color: #337ab7;
}

.disable-next-btn{
	background: #cccbcb;
	border-color: #cccbcb;
	opacity: 0.4;
}

#detail-invoice-table .adropdown th{
    padding: 5px 10px;
    text-align: left;
}

#detail-invoice-table .adropdown table {
    font-family: 'Arial';
    margin: 35px 1px 0px 1px;
    border-collapse: collapse;
    border-bottom: 2px solid #00cccc;
    border-spacing: 0px;
    cursor: default;
    width: 100%;
}

#apinvoice-tbl .ledger >tr:first-child {
    background: rgb(197, 226, 251);
}

#apinvoice-tbl .ledger >tr:last-child {
    background: rgba(228, 240, 255, 0.71);
}
#apinvoice-tbl tbody tr td {
	text-align: left;
}

#apinvoice-tbl tbody tr td.text-right{
	text-align: right;
}

#scheduledPaymentDate{
	pointer-events:none;
}

#apinvoice-tbl thead tr:first-child th:first-child{
	background: #dff0d8;
    color: #000;
}

#apinvoice-tbl thead tr:first-child th:last-child{
	background: #d9edf7;
    color: #000;
}

#apinvoice-tbl thead tr:last-child th:nth-child(-n + 8){
    color: #000;
    vertical-align: middle;
}
#apinvoice-tbl thead tr:last-child th:nth-child(n+9){
	background: #d9edf7;
    color: #000;
    vertical-align: middle;
}

#detail-invoice-table .input-group-addon {
	border-radius: 0px;	
}

#apinvoice-tbl tbody tr td {
	vertical-align: middle;
}

#apinvoice-tbl thead tr:last-child th:nth-child(8){
	width: 75px;
}
#apinvoice-tbl thead tr:last-child th:nth-child(12){
	width: 50px;
}
#apinvoice-tbl thead tr:last-child th:nth-child(15){
	width: 110px;
}
#apinvoice-tbl thead tr:last-child th:nth-child(6),
#apinvoice-tbl thead tr:last-child th:nth-child(13){
	width: 95px;
}

#alertApprovalStatus{
	color: blue;
}

#alertApprovalStatus > li > #title {
	color: blue;
}

#apinvoice-tbl_paginate ul.pagination li a {
    margin: 0px 1px;
}

table#apinvoice-tbl tbody tr:nth-child(even) {
    background-color: white !important;
}

#apinvoice-tbl_wrapper table.dataTable thead .sorting_desc::after{
	top: 15px;
	right: 1px;
}
#apinvoice-tbl_wrapper table.dataTable thead .sorting_asc::after{
	top: 15px;
	right: 1px;
}
#apinvoice-tbl_wrapper table.dataTable thead .sorting::after{
	top: 15px;
	right: 1px;
}


.ap-search .datepicker{
	padding: 0px;
}
#detail-invoice-table tbody td:last-child{
	vertical-align: middle;
}
.detail-invoice-table-wrapper th{
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

#apinvoice-tbl_wrapper .dataTable thead{
	background: #dff0d8;
}