#table_data_ar tbody tr td {
	vertical-align: middle;
}
table#table_data_ar tbody tr:nth-child(even){
	background-color: white !important;
}

#table_data_ar_paginate ul.pagination li a {
	margin: 0px 1px;
}
#table_data_ar_paginate li.disabled a {

}
#table_data_ar thead tr:first-child th:first-child{
	background: #dff0d8;
    color: #000;
}
#table_data_ar thead tr:first-child th:last-child{
	background: #d9edf7;
    color: #000;
}

#table_data_ar  tr:last-child th:nth-child(-n + 9){
    color: #000;
    vertical-align: middle;
}
#table_data_ar tr:last-child th:nth-child(n+10){
	background: #d9edf7;
    color: #000;
    vertical-align: middle;
}
.status {
	text-align: center;
    padding: 3px 5px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    width: auto !important;
    font-size: 12px;
    border: none;
}

.status.ari-001{
	background: #33cd33;
}

.status.ari-002{
	background: #ffa406;
}

 .status.ari-003{
	background: #00a3d3;
}
.gst-type-input{
	width: 100px !important;
}
.disabled-input {
    pointer-events: none;
}

#alertApprovalStatus{
	color: red;
}

#alertApprovalStatus > li > #title {
	color: blue;
}
.ar-search .datepicker{
	padding: 0px;
}
.detail-area table tr td {
	text-align: center;
}
#detail-invoice-table tbody td:last-child{
	vertical-align: middle;
}
.detail-invoice-table-wrapper th{
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

#table_data_ar_wrapper table.dataTable thead .sorting_desc::after{
	top: 15px ;
    right: 2px;
}
#table_data_ar_wrapper table.dataTable thead .sorting_asc::after{
	top: 15px ;
    right: 2px;
}

#table_data_ar_wrapper table.dataTable thead .sorting::after{
	top: 15px ;
    right: 2px;
}
#table_data_ar_wrapper .dataTable thead{
	background: #dff0d8;
}