.ap-search {
}

.ap-panel-detail {
	
}
.btn-action-bs{
	margin-left: 5px;
	margin-top: 5px;
}
a[disabled] {
    pointer-events: none;
}
.panel-from-to-date {
	visibility: hidden;
}

.error-panel{
	color: red; border: 1px solid; margin-top: 20px; padding: 10px; display: none;
}
.awhite table td:nth-child(3), .awhite table td:nth-child(5){
	text-align: right;
}
.awhite table {
	width: 500px;
	border-collapse: collapse;
}
.awhite table td{
	padding: 10px;
	border: 1px solid #ddd;
}
.dataTables_wrapper > .row 
{
	overflow: inherit !important;
}
.awhite table tbody tr:not(.row-matched) {
    background-color: #f5f3fb !important;
}
.awhite table tbody tr:nth-child(even):not(.row-matched):not(.selected) {
    background-color: #f1f1f1 !important;
}
.awhite table tbody tr.selected{
	background-color: #becad8 !important;
}
#table_data th:nth-child(2){
	width: 2% !important;
}
#table_data th:nth-child(3){
	width: 5% !important;
}
#table_data th:nth-child(4){
	width: 6% !important;
}
#table_data th:nth-child(5){
	width: 5% !important;
}
#table_data th:nth-child(6){
	width: 5% !important;
}

#table_data th:nth-child(7){
	width: 7% !important;
}
#table_data th:nth-child(8){
	width: 7% !important;
}
#table_data th:nth-child(9){
	width: 5% !important;
}
#table_data th:nth-child(10){
	width: 5% !important;
}
#table_data th:nth-child(11){
	width: 4% !important;
}
#table_data th:nth-child(12){
	width: 4% !important;
}
#table_data th:nth-child(13){
	width: 4% !important;
}
#table_data th:nth-child(14){
	width: 7% !important;
}
#table_data th:nth-child(15){
	width: 7%;
}
#table_data th:nth-child(16){
	width: 5%;
}
#table_data td:nth-child(16){
	text-align: center;
	vertical-align: middle;
}
#table_data td:nth-child(16) i{
	margin-left: 0px;
    font-size: 15px;
}
#table_data td:nth-child(16) .col-xs-3{
	cursor: pointer;
}
#table_data th:nth-child(17){
	display: none;
}
#table_data td:nth-child(17){
	display: none;
}
#table_data td:nth-child(3), #table_data td:nth-child(4), #table_data td:nth-child(6), 
#table_data td:nth-child(11), #table_data td:nth-child(12), #table_data td:nth-child(13){
	text-align: right;
}
#table_data{
	margin-bottom: -2px !important;
}
.adropdown .selected {
	color: #999 !important;;
}

#table_data td:nth-child(1):not(.dataTables_empty) {
	display: none;
}
#table_data .btn-edit-inline.editing{
	font-weight: bold;
	font-size: 14px;
}
#table_data .btn-success-inline{
	margin-top: 8px;
}
.awhite table thead tr {
    background-color: #158eb3 !important;
}
#table_data td:has(.tabledit-toolbar){
	display: none !important;
}
#table_data .btn-clean-payment-order, #table_data .btn-clean-receipt-order {
	font-size: 15px;
    margin-left: 3px;
    color: #decd73;
    cursor: pointer	
}
#table_data>tbody>tr.warning>td{    
	background-color: #f7e5e5 !important;
}
#table_data .auto-match-function{
	margin-left: 2px;
}
#table_data .auto-match-function button{
	margin-right: 4px;
    border: none;
    width: 24px;
    height: 19px;
    text-align: center;
    border-radius: 2px;
}
#table_data .auto-match-function button.btn-apply-match {
	color: #fff;
    background: #6ccc6c;
}
#table_data .auto-match-function button.btn-cancel-match{
	color: #888888;
} 