a {
	color: #5d93ce;
}

button.disabled {
	pointer-events: none;
}

.nav_menu a#menu_toggle{
	color: #000;
}
.error {
	color: red;
}

.action-del{
	cursor: pointer;
}

#header{
	height: 52px
}
#header .logo img{
	width: 100px;
    padding: 10px 0px;
    margin-right: 50px;
    cursor: pointer;
    margin-left: 45px;
}
#header .logo img.logo-image{
	width: 100px;
	margin-left: 45px;
}
#header .logo img.logo-image-sm{
	width: 60px;
	margin-left: 9px;
	margin-top: 5px;
}
#header .sperater-line{
	float: right; width: 1px; height: 47px; background-color: #f5f5f5; margin-top: 3px; box-shadow: 1px 1px 0px #c8c8c8;
}
#header .sperater-line-short{
	float: right; width: 1px; height: 35px; background-color: #f5f5f5; margin-top: 9px; box-shadow: 1px 1px 0px #c8c8c8;
}
#header #ap-tanentcy-popup, #header #ap-tanentcy-popup .modal-footer{
	text-align: center;
}
 #header #ap-tanentcy-popup .modal-footer .btn{
 	float: none !important;
 }
#header #ap-tanentcy-popup .radio label{
	margin: 0px 20px
}
 #ap-tanentcy-popup .modal-footer .btn{
 	margin: 0px 20px; padding: 6px 30px;
 }
#header ul.navbar-nav li:hover>ul.dropdown-menu {
	display: block;
}

#header .container ul img {
    width: 20px;
}

#header .container ul ul.dropdown-menu img {
    margin-right: 5%;
}
#header .navbar-header {
	background: #dcdcdc;
	color: #333;
}

#header li.dropdown ul.dropdown-menu li:hover{
	background: #f5f5f5;
}


#header .navbar-header .navbar-nav>li>a{
	color: #0e0e0e;
}

#header .navbar-header .navbar-nav>li>a:hover{
	color: #1c82b5;
	background-color: transparent;
}

#header .navbar-header .navbar-nav>li>ul.dropdown-menu>li>a:hover{
	color: #1c82b5;
	background-color: transparent;
}

#header ul.dropdown-menu{
	min-width: 210px;
}

#footer{
	margin-top: 35px;
    background: #dcdcdc;
    color: #0e0e0e;
}

#footer .copyright{
	padding-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}


/* footer login page */
@media only screen and (min-width:1440px){
	.login-empty{
		min-height: 240px;
	}
}

.user-logged{
	margin: 0 10px;
}
#dashboard-main-img{
	width: 100%;
}
#header .breadcrumb{
	background: transparent;
	margin-top: 12px;
	margin-bottom: 0;
}

#header .breadcrumb li a {
	font-size: 13px;
	color: #777;
}

#header .breadcrumb > .active {
	font-size: 13px;
}

#header .breadcrumb li a:hover {
	text-decoration: underline;
}

.button-margin{
	margin-right: 5px;
	
}
#table_data_paginate, #sub-table_paginate{
	margin-bottom: 5px;
}
.detail-area {
	width: 2000px;
	height: 280px;
}
div.dataTables_paginate{
	margin-top: 5px;
}
/* .paginate_button{
    border: 1px solid #BBB
} */
.dataTables_paginate a.disabled{
	background: transparent;
	color: #ddd !important;
}

#table_data_paginate ul.pagination a {
	margin: 0px 1px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span, .pagination>li a{
	border-radius: 3px;
}
#table_data_paginate li.disabled a{

}
body{
	color: #061c2f;
	
}
body .main_container:first-child{
	position: relative;
}
.ap-indicator{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    text-align: center;
    padding-top: 20%;
    display: none;
}
.ap-indicator img {
	position: absolute;
	z-index: 10;
	width: 100px;
}
.ap-indicator .foreground{
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
table .status-header{
	width: 120px;
}
.ap-status{
    text-align: center;
    padding: 3px 5px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    width: auto !important;
    font-size: 12px;
    border: none;
}
.pr-status{
    text-align: center;
    padding: 3px 5px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    width: auto !important;
    font-size: 12px;
    border: none;
}
.ap-status.ap-status-header{
	margin-top: 0;
	margin-bottom: 0;
}
.pr-status.pr-status-header{
	margin-top: 0;
	margin-bottom: 0;
}
.ap-status.api-001{
	background: #33cd33
}
.ap-status.api-003{
	background: #00a3d3;
}
.ap-status.api-004{
	background: #f65b34;
}
.ap-status.api-002{
	background: #ffa406;
}
.ap-status.pay-001{
	background: #33cd33
}
.ap-status.pay-002{
	background: #00a3d3;
}
.ap-status.pay-003{
	background: #f65b34;
}
.pr-status.pay-001{
	background: #33cd33
}
.pr-status.pay-002{
	background: #00a3d3;
}
.pr-status.pay-003{
	background: #f65b34;
}
.ap-status.ap-detail{
	margin-top: 5px;
	display: inline-block;
    float: inherit;
}
.dropdown-menu-ap-status{

}
.non-margin {
	margin: 0px;
}
.ap-header-title{
	float: left;
    padding-top: 3px;
    padding-right: 11px;
}
.ap-status.apr-001{
	background: #33cd33
}
.ap-status.apr-002{
	background: #00a3d3;
}

.ap-status.ari-001{
	background: #33cd33;
}

.ap-status.ari-002{
	background: #ffa406;
}

.ap-status.ari-003{
	background: #00a3d3;
}
.ap-dropdown-status{
	display: none;
}

.pr-dropdown-status{
	display: none;
}

.pr-status.ppr-001{
	background: #33cd33
}
.pr-status.ppr-003{
	background: #00a3d3;
}
.pr-status.ppr-002{
	background: #ffa406;
}

#header ul.mul-language{
	min-width: 0px;
	float: left;
}

.navbar-nav .open .dropdown-menu{
	width: 210px;
}
.navbar-nav .open .mul-language{
	width: 100%;
}

.wf-notosansjapanese { font-family: "Noto Sans Japanese"; }

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  	position: absolute;
	top: 30%;
  	z-index: 100;
  	margin: 0 auto;
  	bottom: 0px;
  	left: 0;
  	right: 0;
}

/* 1366 x 768 */
@media (max-width: 1366px) {
    body, .btn {
    	font-size: 12px;
    }
 
    .x_panel h5 {
    	font-size: 12px;
    }
    
   .x_panel{
    	padding: 7px 17px;
    }
    
    .page-title{
    	height: 0px;
    	padding: 0px;
    }
    legend{
    	padding-bottom: 0px;
    	margin-bottom: 5px;
    }
    .detail-area{
    	height: 220px;
    }
    table.display thead th{
    	padding: 0px 18px;
    }
    .table>tbody>tr>td {
    	padding: 5px 8px;
    }
    .light-theme a, .light-theme span{
    	font-size: 11px;
    }
    .table {
    	margin-bottom: 5px;
    }
    .nav.child_menu li{
    	font-size: 11px;
    }
   
    .top_nav .dropdown-menu li a {
    	font-size: 13px;
    }
    
    #payment-tbl thead.ledger tr:first-child th{
		font-size: 12px;
    }
    #apinvoice-tbl thead.ledger tr:first-child th{
		font-size: 12px;
	}
}

/* 1600 x 900 */
@media (min-width: 1367px) and (max-width: 1600px) {
	body, .btn {
    	font-size: 12px;
    }
    .form-control{
    	padding: 4px 5px;
    	font-size: 12px;
    	color: #000;
    }
    .x_panel h5 {
    	font-size: 12px;
    }
    
    .form-group{
    	
    }
    .x_panel{
    	padding: 7px 17px;
    }
    
    .page-title{
    	height: 60px;
    	padding: 8px 0px;
    }
    .light-theme a, .light-theme span{
    	font-size: 12px;
    }
    .table {
    	margin-bottom: 5px;
    }
  
    .top_nav .dropdown-menu li a, .nav.child_menu li {
    	font-size: 12px;
    }
    
    .top_nav .dropdown-menu.dropdown-usermenu li a {
    	font-size: 12px;
    	text-transform: uppercase;
    }
    
    #payment-tbl thead.ledger tr:first-child th{
		font-size: 13px;
    }
    #apinvoice-tbl thead.ledger tr:first-child th{
		font-size: 13px;
	}
}

/* 1920 x 1080 */
@media (min-width: 1601px) and (max-width: 1920px) {
	body, .btn {
    	font-size: 12px;
    }
    .form-control{
    	padding: 4px 5px;
    	font-size: 12px;
    	color: #000;
    }
    .x_panel h5 {
    	font-size: 12px;
    }
      
 	.nav.child_menu li ,  .top_nav .dropdown-menu li a{
    	font-size: 12px;
    }
    #payment-tbl thead.ledger tr:first-child th{
		font-size: 13px;
    }
    #apinvoice-tbl thead.ledger tr:first-child th{
		font-size: 13px;
	}
}
    
}