#uploadForm .upload-file{
    margin-top: 10px;
}
#uploadForm  .btn-upload{
	width: 100%;
}

.select-type tbody tr td:first-child{
	 text-align: center;
}
.import-success{
 	color: #3c763d;
 	margin-top: 10px;
}   
.modal-open .modal-sm{
	width: 400px;
}

.table-import table thead tr th{
	 text-align: center;
}

#import-page_wrapper .dataTables_length{
	display: none;
}
#import-page_wrapper .paginate_button {
	padding: 8px;
    border: 1px solid #ddd;
    margin: 1px;
    border-radius: 3px;
    cursor: pointer;
}

#import-page_wrapper a.paginate_button:hover {
    text-decoration: none;
}

#import-page_wrapper .disabled, .current{
    color: #FFF;
} 


#import-log_wrapper .dataTables_length{
	display: none;
}
#import-log_wrapper .paginate_button {
	padding: 8px;
    border: 1px solid  #ddd;
    margin: 1px;
    border-radius: 3px;
}

#import-log_wrapper a.paginate_button:hover {
    text-decoration: none;
}

#import-log_wrapper .disabled, .current{
    background: #337ab7;
    color: #FFF;
    border-color: #337ab7;
    box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    cursor: default;
}

#importForm .panel-heading{
	border: 1px solid rgba(0, 0, 0, 0.11);
}

#importForm .panel-heading span{
	font-size: 16px;
	font-weight: 600;
}


#export-page_wrapper .dataTables_length{
	display: none;
}
#export-page_wrapper .paginate_button {
	padding: 8px;
    border: 1px solid  #ddd;
    margin: 1px;
    border-radius: 3px;
}

#export-page_wrapper a.paginate_button:hover {
    text-decoration: none;
}

#export-page_wrapper .disabled, .current{
    background: #337ab7;
    color: #FFF;
    border-color: #337ab7;
    box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    cursor: default;
}

.export-file {
	margin-top: 20px;
} 

.export-file .panel-heading span {
    font-size: 16px;
    font-weight: 600;
}
.table-import table.table {
	margin-bottom: 5px;
}
.upload-form{
	margin-top: 10px;
}
#import-page_filter, #export-page_filter, #import-log_filter {
	display: none;
}
