html, body {
	height: 100%;
}

.jumbotron .cover  {
	height: 100%;
	width: 100%;
}


.jumbotron .cover::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-image: url(img/login-bg6.jpg);
	background-position-x: 100%;
	background-position-y: 100%;
	background-size: cover;
	opacity: 1;
}

.jumbotron {
	background-color: #F7F7F7;
	height: 100%;
	width: 100%;
	position: relative;
	margin-bottom: 0;
}

.jumbotron .bg-login {
	max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.jumbotron.vertical-center {
	margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

.jumbotron .panel-heading {
	background-color: #F2F5FA;
	border-color: transparent;
}

.jumbotron .panel {
	border: none;
}

.jumbotron .panel-body {
	background-color: #fff;
	padding: 55px;
}

.jumbotron  input.form-control {
	background-color: #e5e8ef;
	border: 0;
	border-radius: 1px;
	padding: 11px;
	height: auto;
	margin-left: 1px;
	box-shadow: none;
	-webkit-transition: none;
}

.jumbotron  span.input-group-addon {
	border: 0;
	border-radius: 1px;
	padding: 6px 20px;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.container {
	/* background-color: gold; */
	
}

footer {
	color: #fff;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: none;

}

#banner {
	width: 100%;
}

.forgot-pass-panel {
	float: right;
	font-size: 80%;
	position: relative;
	top: -10px
}

.jumbotron .panel-title {
	font-size: 36px;
	color: #303840;
}

.jumbotron .input-group {
	margin-bottom: 20px;
}

.jumbotron .input-group .danger {
	font-size: 15px;
	color: #d0102c;
}

.jumbotron .input-group .info {
	font-size: 15px;
	color: #9ea3af;
}


.jumbotron .btn-pre-login {
	width: 100px;
	border-radius: 2px;
	background-color: #2980b9;
	border-color: transparent;
}

.jumbotron .btn-success:hover {
	background-color: #64D2EE;
	border-color: transparent;
}

.loginbox {
	width: 50%;
	margin: 0 auto;
    float: none;
    margin-top: 20vh;
}

.loginbox .icon-user, .loginbox .icon-lock {
	width: 16px;
	height: 16px;
}

.jumbotron.vertical-center {
	height:100vh; /* fix IE11 */
    min-height:100%; /* fix IE11 */ 

    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
}
.btn-login{
	display: none;
}
.div-otp-confirmation{
	display: none;
}