/* payment search */
table.ap-payment-list tr, td {
	text-align: center;
}

.ledger tr th {
	text-align: center;
}

.top-buffer {
	min-height: 550px;
}

.button-selected {
	background: #337ab7;
	color: #fff;
	border-color: #337ab7;
}
#payemntSearchForm{
	margin-top: 25px;
}

.disable-next-btn{
	background: #cccbcb;
	border-color: #cccbcb;
	opacity: 0.4;
}
#payment-tbl .ledger >tr:first-child {
    background: rgb(197, 226, 251);
}

#payment-tbl .ledger >tr:last-child {
    background: rgba(228, 240, 255, 0.71);
}
.search-cond{
	margin-top: 30px;
}

#search-zone .form-control-inline {
	display: inline;
}

table input[type="checkbox"][readonly] {
  pointer-events: none;
}

#payment-table thead{
	background: #158eb3;
    color: #fff;
}

#payment-table thead th{
	text-align: center;
	vertical-align: middle;
	padding: 8px 15px 8px 15px;
}
#search-btn{
	margin-left: -7px;
}
#search-zone .col-sm-6 .col-sm-1 {
	text-align: center;
}
#payment-tbl tbody tr td {
	text-align: left;
}
#payment-tbl tbody tr td.text-right{
	text-align: right;
}
#payment-tbl thead tr:first-child th:first-child{
	background: #dff0d8;
    color: #000;
}

#payment-tbl thead tr:first-child th:last-child{
	background: #d9edf7;
    color: #000;
}

#payment-tbl thead tr:last-child th:nth-child(-n + 8){
    color: #000;
    vertical-align: middle;
}
#payment-tbl thead tr:last-child th:nth-child(n+9){
	background: #d9edf7;
    color: #000;
    vertical-align: middle;
}
#payment-table tbody .input-group-currency {
	position: relative;
    display: table-cell;
    border-collapse: separate;
    padding: 12px 8px;
}
#payment-table tbody tr td {
	vertical-align: middle;
}

#payment-table .input-group-addon {
    border-radius: 0px;
    float: left;
    width: 30%;
    height: 40px;
    text-align: center;
    padding: 6px 5px;
    line-height: 30px;
}
#payment-table .input-group-currency input{
	float: left;
	width: 70%;
	height: 28px;
	height: 40px;
}
#payment-table >tbody>tr>td {
    border: none;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
#payment-table tbody tr .currency-inline{
	white-space: nowrap;
}
#payment-tbl tbody tr td {
	vertical-align: middle;
}
#payment-tbl thead tr:last-child th:nth-child(1){
	width: 75px;
}
#payment-tbl thead tr:last-child th:nth-child(5){
	width: 50px;
}
#payment-tbl thead tr:last-child th:nth-child(6){
	width: 110px;
}
#payment-tbl thead tr:last-child th:nth-child(7),
#payment-tbl thead tr:last-child th:nth-child(13){
	width: 95px;
}
#payment-table tbody tr td:nth-child(2), #payment-table tbody tr td:nth-child(5){
	padding-left: 5px;
}

@media (max-width: 1366px) {
	.lbl-status {
    	display: block;
    }
    .lbl-approved {
    	display: block;
    }
}
/* #pay-detail fieldset .row label {
	padding-left: 30%;
	font-weight: 500;
} */

#payment-tbl_paginate ul.pagination li a {
    margin: 0px 1px;
}

table#payment-tbl tbody tr:nth-child(even) {
    background-color: white !important;
}
#payment-tbl_wrapper table.dataTable thead .sorting_desc::after{
	top: 15px ;
    right: 2px;
}
#payment-tbl_wrapper table.dataTable thead .sorting_asc::after{
	top: 15px ;
    right: 2px;
}

#payment-tbl_wrapper table.dataTable thead .sorting::after{
	top: 15px ;
    right: 2px;
}
table.dataTable tbody tr:nth-child(even), table.dataTable tbody tr:nth-child(odd){
	background-color: white !important;
}
table.dataTable tbody tr.disable-row {
	pointer-events: none;
    background-color: #eee !important;
}
.payment-table-wrapper th{
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}
#warning-message{
    color: red;
}
.search-grp-btn {
	margin-top: 5px;
}
#payment-tbl_wrapper .dataTable thead{
	background: #dff0d8;
}