.table-scroll{
	width: 100%; overflow-x: auto; max-height: 700px;
}
#payroll-table-data{
	width: 4000px;
}
#payroll-table-data thead:nth-child(1) tr:nth-child(1) th:nth-child(-n + 5){
	background: #dff0d8;
	color: #000;
	text-align: center;
	vertical-align: middle;
}
#payroll-table-data thead:nth-child(1)  tr:nth-child(1) th:nth-child(6), #payroll-table-data thead:nth-child(1)  tr:nth-child(2) th:nth-child(-n + 11){
	background: #d9edf7;
	color: #000;
	text-align: center;
	vertical-align: middle;
}
#payroll-table-data thead:nth-child(1)  tr:nth-child(1) th:nth-child(7), #payroll-table-data thead:nth-child(1)  tr:nth-child(2) th:nth-child(n + 12){
	background: #64c464;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}
#payroll-table-data thead:nth-child(1)  tr:nth-child(1) th:nth-child(n + 8){
	background: #3191d1;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}
#payroll-table-data tr td{
	text-align: center;
	vertical-align: middle;
}
.adropdown table tfoot td{
	text-align: left !important;
}
.adropdown table{
	width: 700px !important; 
}
#alertApprovalStatus{
	color: blue;
}
#payroll-table-data input{
	width: auto;
}
#payroll-table-data .input-group{
	margin-bottom: 0px;
}
.table-scroll.table-prevent-overlap{
	height: 1200px;
	max-height: initial;
}