#payroll-data-table thead tr:first-child th:first-child {
    background: #dff0d8;
    color: #000;
}
#payroll-data-table thead tr:first-child th:last-child {
    background: #d9edf7;
    color: #000;
}
#payroll-data-table thead tr:last-child th:nth-child(-n + 5){
    color: #000;
    vertical-align: middle;
}
#payroll-data-table thead tr:last-child th:nth-child(n + 7){
	background: #d9edf7;
    color: #000;
    vertical-align: middle;
}
#payroll-data-table tbody tr:nth-child(even){
	background: #fff !important;
}

#payroll-data-table_wrapper .dataTable thead{
	background: #dff0d8;
}
#payroll-data-table td{
	vertical-align: middle;
}