#project-allocation-data-table thead tr .th-month, #project-allocation-data-table thead tr .th-action{
	background: #d9edf7;
}
#project-allocation-data-table td{
	vertical-align: middle;
}
#project-allocation-data-table td:last-child{
	font-size: 15px;
}
#project-allocation-data-table th:nth-child(1){
	min-width: 100px;
}
#project-allocation-data-table th:nth-child(2){
	min-width: 100px;
}
#project-allocation-data-table th:nth-child(3){
	min-width: 100px;
}
#project-allocation-data-table th:nth-child(4){
	min-width: 100px;
}
#project-allocation-data-table th:nth-child(n + 5){
	width: 100px;
}
#project-allocation-data-table th:last-child{
	min-width: 50px;
	width: 50px;
}
#project-allocation-data-table tbody tr{
	background: #fff !important;
}
#project-allocation-data-table tbody tr.tr-employee-header{
	background: #fbf8f8 !important;
}
#project-allocation-data-table .input-group{
	margin-bottom: 0px;
}
.txt-percent.invalid{
	border: 2px solid red;
}