    .projectColumn {
        background: #d9edf7;
    }
    .employeeColumn {
        background: #FFFFE0;
        width: 150px;
    }
    .total td {
        background-color :#e5e5e5;
        text-align:right;
    }
    .total .totalTitle {
		font-weight: bold
    }
    .projectAmount {
        text-align: right;
    }
    /* Ensure that the demo table scrolls */
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 100%;
    }
	.month {
	    color: 	#008000;
	    font-weight: bold;
	    display: block;
	    font-size: 1.7em;
	}
	
	@supports (-ms-ime-align:auto) {
	    .DTFC_LeftBodyLiner{
			overflow-y: visible !important;
			width:100% !important;
			border-right: 2px solid grey;
		}
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	    .DTFC_LeftBodyLiner{
			overflow-y: visible !important;
			width:100% !important;
			border-right: 2px solid grey;
		}
	}
	
	