.panel-from-to-date .form-control{
	width: 45%; float: left;
}

.panel-from-to-date p{
	width: 10%; float: left; text-align: center; vertical-align: middle; padding-top: 6px;
}
#ap-receipt-order-matching .modal-dialog{
	width: 1250px;
}
#table_data button{
	padding: 0px;
}
#table_data thead tr:first-child th:last-child {
    background: #d9edf7;
    color: #000;
}
#table_data thead tr:first-child th:first-child {
    background: #dff0d8;
    color: #000;
}
#table_data thead tr:last-child th:nth-child(-n + 6) {
    color: #000;
    vertical-align: middle;
}
#table_data thead tr:last-child th:nth-child(n+7) {
    background: #d9edf7;
    color: #000;
    vertical-align: middle;
}
#table_data td{
	vertical-align: middle;
}
#ar_table_data{
	width: 1500px;
}
#ar_table_data tr.disable-row {
    background-color: #eee !important;
}
#ar_table_data tr.disable-row input[type='checkbox']{
	pointer-events: none;
}
#ar_table_data .ap-big-decimal, #ar_table_data .txt-variance-account, #ar_table_data .txt-receipt-rate{
	display: inline-block;
    height: 34px;
    border-radius: 2px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    transition: background 0.3s ease-in-out;
    padding: 2px 25px 2px 5px;
    outline: 0;
    border: 1px solid #ccc;
    margin: 0px;
    width: 100px;
}
#ar_table_data td{
	vertical-align: middle;
}
#ar_table_data td input[type=checkbox]{
	margin: 0px;
}
table.dataTable tbody tr:nth-child(even) {
    background-color: white !important;
}
#ar_table_data_wrapper{
	overflow: auto;
	height: 300px;
	position: relative;
}

#ar_table_data_wrapper .adropdown{
	top: 0px !important;
    left: -336px !important;
}
#ar_table_data th{
	white-space: nowrap;
}
#table_data .status-matched {
    text-align: center;
    padding: 3px 5px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    width: auto !important;
    font-size: 12px;
    border: none;
    background: #33cd33;
}
.dataTables_scrollHeadInner table{
	width: 1520px !important;
} 
.dataTables_scrollHeadInner table th{
	border: none !important;
}
#ar_table_data td:nth-child(1){
	width: 2% !important;
}
#ar_table_data td:nth-child(2){
	width: 6% !important;
}
#ar_table_data td:nth-child(3){
	width: 6% !important;
}
#ar_table_data td:nth-child(4){
	width: 6% !important;
}
#ar_table_data td:nth-child(5){
	width: 6% !important;
}
#ar_table_data td:nth-child(6){
	width: 6% !important;
}
#ar_table_data td:nth-child(7){
	width: 6% !important;
}
#ar_table_data td:nth-child(8){
	width: 6% !important;
}
#ar_table_data td:nth-child(9){
	width: 6% !important;
}
#ar_table_data td:nth-child(10){
	width: 6% !important;
}
#ar_table_data td:nth-child(11){
	width: 6% !important;
}
#ar_table_data td:nth-child(12){
	width: 6% !important;
}
#ar_table_data td:nth-child(13){
	width: 6% !important;
}

.dataTables_scrollHeadInner table th:nth-child(1){
	width: 1% !important;
}
.dataTables_scrollHeadInner table th:nth-child(2){
	width: 3.5% !important;
}
.dataTables_scrollHeadInner table th:nth-child(3){
	width: 2% !important;
}
.dataTables_scrollHeadInner table th:nth-child(4){
	width: 3.5% !important;
}
.dataTables_scrollHeadInner table th:nth-child(5){
	width: 3.5% !important;
}
.dataTables_scrollHeadInner table th:nth-child(6){
	width: 3% !important;
}
.dataTables_scrollHeadInner table th:nth-child(7){
	width: 5% !important;
}
.dataTables_scrollHeadInner table th:nth-child(8){
	width: 4% !important;
}
.dataTables_scrollHeadInner table th:nth-child(9){
	width: 3% !important;
}
.dataTables_scrollHeadInner table th:nth-child(10){
	width: 4% !important;
}
.dataTables_scrollHeadInner table th:nth-child(11){
	width: 3.5% !important;
}
.dataTables_scrollHeadInner table th:nth-child(12){
	width: 5% !important;
}
.dataTables_scrollHeadInner table th:nth-child(13){
	width: 6% !important;
}

.wraperTable #ar_table_data.fixed {
  position:fixed;
  width:auto;
  display:none;
  border:none; 
}

#table_data_wrapper .dataTable thead{
	background: #dff0d8;
}

table#table_data >tbody>tr>td {
	vertical-align: middle;
}