.ap-search .datepicker {
    padding: 0px;
}
#reimbursement-data-table thead tr:first-child th:first-child {
    background: #dff0d8;
    color: #000;
}
#reimbursement-data-table thead tr:first-child th:last-child {
    background: #d9edf7;
    color: #000;
}
#reimbursement-data-table thead tr:last-child th:nth-child(-n + 8){
    color: #000;
    vertical-align: middle;
}
#reimbursement-data-table thead tr:last-child th:nth-child(n + 9){
	background: #d9edf7;
    color: #000;
    vertical-align: middle;
}
#reimbursement-data-table tbody tr:nth-child(even){
	background: #fff !important;
}

#reimbursement-data-table_wrapper .dataTable thead{
	background: #dff0d8;
}
#reimbursement-data-table td{
	vertical-align: middle;
}