#reimbursement-table-data thead:nth-child(1) tr:nth-child(1) th{
	background: #dff0d8;
	color: #000;
	text-align: center;
	vertical-align: middle;
}	
#reimbursement-table-data tr td{
	text-align: center;
	vertical-align: middle;
}
.adropdown table tfoot td{
	text-align: left !important;
}
#alertApprovalStatus{
	color: blue;
}
#reimbursement-table-data{
	width: 2500px;
}
#reimbursement-table-data .input-group{
	margin-bottom: 0px;
}
.table-scroll{
	overflow-y: auto;
	overflow-x: auto;
	max-height: 400px;
	min-height: 200px;
	position: relative;
}
.floatThead-table thead{
	background: #fcf8e3;
}
.floatThead-table thead th{
	text-align: center;
	vertical-align: middle !important;
}
#reimbursement-table-data th:nth-child(1){
	width: 6% !important;
}
#reimbursement-table-data th:nth-child(2){
	width: 6% !important;
}
#reimbursement-table-data th:nth-child(3){
	width: 6% !important;
}
#reimbursement-table-data th:nth-child(4){
	width: 6% !important;
}
#reimbursement-table-data th:nth-child(5){
	width: 6% !important;
}
#reimbursement-table-data th:nth-child(6){
	width: 10% !important;
}
#reimbursement-table-data th:nth-child(7){
	width: 9% !important;
}
#reimbursement-table-data th:nth-child(8){
	width: 6% !important;
}
#reimbursement-table-data th:nth-child(9){
	width: 6% !important;
}
#reimbursement-table-data th:nth-child(10){
	width: 6% !important;
}
#reimbursement-table-data th:nth-child(11){
	width: 6% !important;
}
#reimbursement-table-data th:nth-child(12){
	width: 6% !important;
}
#reimbursement-table-data th:nth-child(13){
	width: 6% !important;
}
#reimbursement-table-data th:nth-child(14){
	width: 6% !important;
}
#reimbursement-table-data th:nth-child(15){
	width: 6% !important;
}
#reimbursement-table-data th:nth-child(16){
	width: 3% !important;
}
.floatThead-container{
	z-index: 10 !important;
}