
a[disabled] {
    pointer-events: none;
}
.panel-from-to-date input{
	width: 45%; float: left;
}

.panel-from-to-date p{
	width: 10%; float: left; text-align: center; vertical-align: middle; padding-top: 6px;
}

#approvalForm .error-panel{
	color: red; border: 1px solid; margin-top: 20px; padding: 10px; display: none;
}
.adropdown table td:nth-child(4), .adropdown table td:nth-child(6){
	text-align: right;
}
.adropdown table td{
	padding: 10px;
}
#ap-approval-detail{
	display: none;
	max-height: 300px;
    overflow-y: auto;
}
#ap-approval-detail table thead{
	background: #86c2bb;
}
#ap-approval-detail table td:nth-child(2){
	text-align: right;
	width: 40%;
}
#ap-approval-detail table td:nth-child(1){
	width: 20%;
}
#ap-approval-detail table td:nth-child(3){
	width: 40%;
}
