.search-area{
	margin-top: 30px;
	margin-bottom: 30px;
}
#sub-table thead tr:first-child th {
	text-align: center;
}
#sub-table {
    border-collapse: collapse !important;
}
#sub-table tr {
	text-align: center;
}

#sub-table tr td:nth-child(3), td:nth-child(4){
	text-align: left;
}
.subsidiary .btn-delete {
	float: right;
	margin-left: 10px;
	margin-top: 10px;
}

.subsidiary .btn-save {
	float: right;
	margin-top: 10px;
}
.subsidiary .btn-save {
	float: right;
	margin-top: 10px;
}
.sub-create .btn{
    float: right;
    margin-left: 20px;
    padding: 5px 40px;
}
.subsidiary-header {
	/* margin-bottom: 60px; */
}
.subsidiary-header legend {
	font-weight: 600;
    font-size: 30px;
}

#multi-table thead tr:first-child th:last-child{
	text-align: center;
	background: #158eb3; color: #fff;
}
#multi-table thead tr:last-child th:first-child{
	background: #158eb3; color: #fff;
}
#multi-table thead tr:last-child th {
	text-align: center;
	background: rgba(228, 240, 255, 0.71);;
}

#multi-table tbody tr td:first-child {
	background: rgba(228, 240, 255, 0.71);;
}
#multi-table tbody tr td{
	text-align: center;
}
.btn-reset{
	float: right;
	margin-left: 20px;
    padding: 5px 30px;
}
.btn-save-all{
	float: right;
    padding: 5px 30px;
}
.col-xs-2 .btn-search{
}
.text-search{
	margin-left: -80px;
}
#multi-table{
	margin-top: 50px;
}
#subsidiaryForm .col-form-label{
	text-align: right;
} 
.sub-code{
	font-weight: 600;
}