#table_data_user_history thead th {
    background: #d9edf7;
    text-align: center;
}

.tilde {
    text-align: center;
    padding-top: 10px;
}

.control-label {
    text-align: left !important;
    padding-left: 20px;
    width: 20%;
}

.wrapprer-month {
    padding-left: 0px;
    padding-right: 0px;
}

.wrapper-btn-search {
    padding-right: 115px;
}